a {
    padding: 2px 0;
    background-image: linear-gradient(to top, transparentize($secondary, 0.3) $line, transparentize($secondary, 1) 0);
    color: $secondary;
    transition: all .3s;

    &:hover,
    &:active,
    &:focus {
        box-shadow: -2px -2px 9px transparentize($primary, 0.9), 3px 3px 12px transparentize($secondary, 0.8);
    }
}
