h1 {
    @include font(800, true);
    transition: all .3s;
    color: $grey40;

    &::after {
        content: '';
        display: inline-block;
        background-color: $secondary;
        border-radius: 50%;
        width: 9px;
        height: 9px;
        margin-left: 5px;
    }
}

h2 {
    @include font($bold, true);
    color: $grey50;
}
